.App {
	text-align: center;
	/* background-color: #c6e5f6; */
	/* padding: 2px; */
}

.Main_Card {
	margin: 2rem;
	padding: 2rem;
	background-color: #f3f5f5 !important;
	width: 57%;
}

.Card_BtnDiv {
	margin-top: 2rem;
	text-align: center;
}
/* required symbol(*) */
.MuiFormLabel-asterisk {
	color: red;
}
.TableHeader {
	font-weight: bold !important;
}

.Main_Div {
	display: flex;
	justify-content: center;
}

.PersonalInformationFormDiv {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: space-between;
}
